/* Adaptive value from -- to */
@mixin av($property, $startSize, $minSize, $widthFrom: $container-max-width, $widthTo: 320) {

  $addSize: $startSize - $minSize;

  #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});
   @media (max-width: ($widthTo + px)) {
    #{$property}: $minSize + px;
  }
  @media (min-width: ($widthFrom + px)) {
    #{$property}: $startSize + px;
  }
}

/* === Подключение шрифтов === */
@mixin font($font-name, $file-name, $weight, $style) {
  @font-face {
    font-family: $font-name;
    font-display: swap;
    src: url('../fonts/#{$file-name}.woff2') format('woff2');
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/* === Элемент доступен только для вспомогательных технологий (скринридеры + google)=== */
@mixin visually-hidden() {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important; 
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}